.footer{
  background-color:black;
  color:grey;
  font-family: var(--font-family);
  font-size:8px;
  padding-right:15px;
  padding-left:15px;
  height:10vh;
  padding-top:15px;
  
}
.spain{
  display:flex;
  float:right;
}

.spotify-footer{
  float:right;
  text-align: right;
}
.spain-flag{
  width:20px;
}
.spain-flag img{
  width:100%;
}
.legal-cookies{
  display:flex;
  list-style:none;
  gap:5px;
  padding-bottom:15px;
  
}
.info{
  text-decoration:none;
  color: grey;
}
@media (min-width:480px) and (max-width:1000px){
  
  .nav-footer{
    display: grid;
    width: 30%;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 1fr 1fr;
  
  }
  .legal-cookies{
    padding-bottom: 0px;
    grid-row: 1/2;
    display:flex;
    justify-content: start;
    align-items: end;

  }
  .info{
    
  }
}